<div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th *ngFor="let header of headers" [ngClass]="header.addClass" scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    {{ header.name }}</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let row of data">
                <td *ngFor="let header of headers" class="px-6 py-4 whitespace-nowrap">
                    <span *ngIf="header.renderType.text === 'true'"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
                        {{ row[header.key] }}
                    </span>
                    <app-tag-creator 
                                    *ngIf="header.renderType.text === 'false' && header.renderType.tag.component === 'tag-creator'"
                                    [tagName]="header.renderType.html"
                                    [tagContent]="row[header.key]"
                                    [statusColorPipe]="statusColorPipe"></app-tag-creator>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <h2 setBack>hello</h2> -->
</div>