<div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th
                    *ngFor="let header of headers"
                    [ngClass]="header.addClass"
                    (click)="selectedColumn = header.key"
                    scope="col"
                    class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
                    {{ header.name }}
                    <div>
                        <input
                        type="text"
                        [formControl]="filterText"
                        name="filterText"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-1
                        focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        placeholder="جستجو در {{ header.name }}"/>
                    </div>
                </th>
                    
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let row of result | sort: selectedColumn">
                <td *ngFor="let header of headers" class="px-6 py-4 whitespace-nowrap">
                    <span *ngIf="header.renderType.text === 'true'"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
                        {{ row[header.key] }}
                    </span>
                    <app-tag-creator 
                                    *ngIf="header.renderType.text === 'false' && header.renderType.tag.component === 'tag-creator'"
                                    [tagName]="header.renderType.html"
                                    [tagContent]="row[header.key]"></app-tag-creator>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <h2 setBack>hello</h2> -->
     <!-- [statusColorPipe]="statusColorPipe"></app-tag-creator> -->
</div>